{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">       
        <h1>christestgrabbedfromsessionviacontact.py: £{{ christestgrabbedfromsessionaddincontext|floatformat:2 }} </h1>
         <div class="row">
            <div class="col-sm-6 col-lg-8 main-hero">
                <div class ="main-hero-text-overlay"> 
                     <h1 class="text-white display-4 fw-bold pe-lg-8">Clothing for fellow Adrenaline seakers</h1>
                    
                </div> 
                    <div class="main-hero-text-overlay-tagline">
                    <!-- text -->
                        <p class="text-white-50 mb-4 lead">
                        Clothing designed for you, by fellow bikers. Together we Shred is a brand focussed on fellow bikers, who share the love of riding together.
                        </p>
                    </div>        
                    <!-- btn -->
                    <a href="{% url 'product_list'%}" class="btn btn-primary">OUR ONLINE SHOP!</a>
                  
                
            </div>
            
            <div class="col-6 col-lg-4 sub-hero">Smaller Image next to Hero</div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-4 showcase-1">Prodcut Images or Section Image</div>
            <div class="col-6 col-sm-4 showcase-2">Prodcut Images or Section Image</div>
            <div class="col-6 col-sm-4 showcase-3">Prodcut Images or Section Image</div>
        </div>
        <div class="row">
            <div class="col-12 showcase-instagram">
        <h1 class="display-4 text-success">Instagram links via #Hashtag </h1>
    </div>
    </div>
</div>
{% endblock %}