{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>Test Value from Contexts.py {{ randomvalue}}</h1>
        <h1>christestgrabbedfromsessionviacontact.py: £{{ christestgrabbedfromsessionaddincontext|floatformat:2 }} </h1>
        <h1>Grand total: £ {{grand_total}}</h1>
        <div class="row">
            <div class="col-sm-6 col-lg-8 main-hero">
                
                     <h1 class="text-white display-4 fw-bold pe-lg-8">Join the Geeks team &amp; shape the future of design
                    </h1>
                    <!-- text -->
                    <p class="text-white-50 mb-4 lead">
                      If you’re passionate and ready to dive in, we’d love to meet you. We’re committed to supporting our
                      employee professional development and well-being.
                    </p>
                    <!-- btn -->
                    <a href="#" class="btn btn-dark">View opportunities</a>
                  
                
            </div>
            
            <div class="col-6 col-lg-4 sub-hero">Smaller Image next to Hero</div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-4 showcase-1">Prodcut Images or Section Image</div>
            <div class="col-6 col-sm-4 showcase-2">Prodcut Images or Section Image</div>
            <div class="col-6 col-sm-4 showcase-3">Prodcut Images or Section Image</div>
        </div>
        <div class="row">
            <div class="col-12 showcase-instagram">
        <h1 class="display-4 text-success">Instagram links via #Hashtag </h1>
    </div>
    </div>
</div>
{% endblock %}