{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-8 main-hero" >Main Hero Image</div>
            <div class="col-6 col-lg-4 sub-hero">Smaller Image next to Hero</div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-4">Prodcut Images or Section Image</div>
            <div class="col-6 col-sm-4">Prodcut Images or Section Image</div>
            <div class="col-6 col-sm-4">Prodcut Images or Section Image</div>
        </div>
    
        <h1 class="display-4 text-success">Testing Bootstrap in our Home App > Index html </h1>
    </div>
{% endblock %}