{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container"> 
  <hr>
  <h2>Our Story</h2>
  <hr> 
  <div class="row">
    <div class="col-sm-6 col-lg-8">     
      <p>
        Rhys Railey is the founder and owner of Together We Shred, a lifestyle clothing brand that celebrates the importance of shared experiences.
        Rhys is an avid mountain biker and motocross rider who understands that life is all about the connections we make with others.
      </p>          
      <p>
        That's why he started Together We Shred - to create a clothing brand for like-minded individuals who are passionate about living life to the fullest.
        Whether you're an experienced rider or just starting out, we have something for everyone. The team are dedicated to providing customers with everything they need to shred in style.
        </p> 
        <p>
        if you're looking for a brand that celebrates the thrill of the ride and the joy of shared experiences, look no further than Together We Shred.
        Because, as Rhys likes to say, "life means nothing without the people we share it with."
        </p>  
    </div>
    <div class="col-sm-6 col-lg-4 showcase-3">      
      <!--- NEEDED ? 12/4/23<image></image>-->
  </div>       
</div>
</div>
{% endblock %}