{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container"> 
  <hr>
  <h2>Sponsored by TWS</h2>
  <hr> 
  <div class="row">
    <div class="col-sm-6 col-lg-8">     
      <h5>Rhys Railey</h5>
      <p>
        Rhys Railey is a highly skilled motocross rider sponsored by TWS who recently competed in the Severn Valley Motocross Championship. 
        Despite facing tough competition from some of the best riders in the region. 
      </p>          
      <p>
        Rhys displayed exceptional talent and determination, ultimately finishing in 3rd place overall. His performance was a testament to his unwavering dedication to his sport and his ability to excel under pressure.
        TWS is proud to support such a talented athlete and looks forward to seeing him achieve even greater success in the future.
        </p> 
        
    </div>
    <div class="col-sm-6 col-lg-4 rider-1">      
      <image></image>
  </div>       
</div>
<div class="row">
  <div class="col-sm-6 col-lg-8">     
    <h5>Katie Millar</h5>
    <p>
      Katie Millar is a young and incredibly talented motocross rider competing in the Severn Valley Championship.
      Sponsored by TWS, Katie has been pushing herself to the limit,
    </p>          
    <p>
      Her passion for motocross is evident in every move she makes on the track, and her dedication to her craft is truly inspiring. With TWS by her side,
      Katie is poised to take her skills to the next level and achieve even greater success in the future.
      </p> 
      <p>
        We are proud to support such a talented young athlete and can't wait to see what she will accomplish next.
        If you haven't already, be sure to keep an eye out for Katie Millar as she continues her journey in the Severn Valley Championship.
      </p>  
  </div>
  <div class="col-sm-6 col-lg-4 rider-2">      
    <image></image>
</div>       
</div>
</div>
{% endblock %}