{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Checkout</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <p>"Please complete your order"</p>
            <form action ="{% url 'checkout' %}" method="POST" id="complete-order-form">
                {% csrf_token %}
                {{ order_form.first_name | as_crispy_field}}
                {{ order_form.postcode | as_crispy_field }}
            </form>
        </div>

{% endblock %}        