@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Roboto:wght@500&display=swap');



body {
    font-family: 'Montserrat', sans-serif;
    /**background:linear-gradient(-90deg,black,#fff);    /*** UNSURE OF BAckGROUND **/
    /**background-image:url('/media/mainheroimage_t0EdqG7.jpg');   /*** UNSURE OF BAckGROUND **/
    background-repeat: no-repeat;
    background-size: cover;
}

/** Logo and Navigation ***/

.logo-header {
    background-color:white;  
    padding-top:16px;  
}

.logo-header-centre {
    background-color:white;
}

.logo-header-right {
    background-color:white;
}

.shopping-basket-holder {
    padding:20px;
    margin-right: 0px;
    color:black;
}

.logo-header-button-number {
    background: hsla(32, 98%, 49%, 0.89);
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    position:relative;
    font-weight: 700;    
    right: 14px;
    top:-20px;     
    padding:6px;
    line-height:30px;
    
}

.tws-logo {                                                /* NEEDS MEDIA QUERIES*/
       
    max-width:300px;
    height:100px;
    background-image: url('/media/tws_logo.PNG');
    display: block;
    background-size:contain;
    background-repeat:no-repeat;        
    border-right: 0.2rem solid white;            
}    


/***Home Page ****/
.main-hero {                                                /* NEEDS MEDIA QUERIES*/
       
        max-width:1249px;
        height:434px;
        background-image: url('/media/main_hero.png');
        background-size: cover;
        background-repeat: no-repeat;        
        border-right: 0.2rem solid white;    
    }

.main-hero h1 {
    
    font-family:Montserrat;
    letter-spacing: -2px;
    padding: 12px;
    font-size: 2rem;
    
}
.main-hero-text-overlay {
    background-color:black;
    position: relative;
    box-sizing: content-box;
    border-radius: 0%;
    width: 280px;
    height: auto;
    left: 0px;
    top: 10px;
}
.main-hero-text-overlay-tagline {
    background-color:black;
    position: relative;
    box-sizing: content-box;
    border-radius: 4%;
    left: 0px;
    bottom: -150px;  
}
.main-hero-text-overlay-tagline p {
    padding: 12px;
    color:white !important;
}


.sub-hero {                                     /* NEEDS MEDIA QUERIES*/
    max-width:549px;
    background: url('/media/IMG_3125.JPG');
    background-size: cover;
    transform-origin: 0px 0px;  
    border-right: 0.2rem solid white;  
    
}

.showcase-1 {                                     /* NEEDS MEDIA QUERIES*/
    background: url('/media/mximage.PNG');
    background-size: cover;
    transform-origin: 0px 0px;   
    height:400px;
    max-width:600px;
    border-top: 0.2rem solid white;  
    border-right: 0.2rem solid white;  
}

.text-overlay-tagline {
    background-color:black;
    position: relative;
    box-sizing: content-box;
    border-radius: 0%;
    border:#fff; 
    border:2px;
    left: 0px;
    bottom: -350px;  
}
.text-overlay-tagline p {
    padding: 12px;
    color:white !important;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;

}
.text-overlay-tagline p a {
    text-decoration: none !important;
    color:white !important;
} 

.text-overlay-tagline p a:hover{
    text-decoration: none !important;
    color:rgb(243, 5, 5) !important;
}    


.showcase-2 {                                     /* NEEDS MEDIA QUERIES*/
    background: url('/media/sponsoredridersrhys.PNG');
    background-size: cover;
    transform-origin: 0px 0px;   
    height:400px;
    max-width:600px;
    border-top: 0.2rem solid white;  
    border-right: 0.2rem solid white;  
}

.showcase-3 {                                     /* NEEDS MEDIA QUERIES*/
    background: url('/media/ourstoreimage.PNG');
    background-size: cover;
    transform-origin: 0px 0px;   
    height:400px;
    max-width:600px;
    border-top: 0.2rem solid white;  
    border-right: 0.2rem solid white;  
}

.showcase-instagram {
    background-color: black;
}

/** cursor for update and remove link **/
.update-link,
.remove-item {
    cursor: pointer;
}
 
/****** shop display *********/

.product-list-wrapper {
    background-color:white;
}
.product-list-wrapper h1 {
    text-transform: uppercase;
    font-weight:600;
    font-size: 1.5rem;
    

}

.card-body {
    background-color:white;
}

.card-body a {
    text-decoration: none;
    color:black;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    color:rgb(0, 10, 10);
    font-weight: 700;
}
.card-title h5 {
    color:antiquewhite;
    font-weight: 700;
}
.card-text p {
    color:blueviolet;
}

.card-text-price {
    color: #ff4368;
    font-style: italic;
    display:flex;
    /*background-color: bisque;*/
    /*padding:0.5rem;**/
    font-weight:600;
    font-size:1.5rem ;
}
.card-text-more-info a {
    color:white !important;
    display:flex;
    background-color:black; 
    padding:0.2rem;
    
}

/** detailed product view **/

.product-detail-wrapper {
    /**background-color:grey;**/
    padding-top:2rem;
}

.product-detail-right {
    /**background-color: black;**/
    padding: 2rem;
    /**color:#fff;***/
    color:black;
    border-radius: 5%;
    border-color:black;
    border:2px;
}

.product-detail-right .my-5 {                     /****ALIGN IMAGE BETTER **/
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}

/*** Shopping Bag ****/

.form-control form-control-sm qty_input {
    color:#ff4368;
}

/***Contact Us ****/
.contactus-image {                                     /* NEEDS MEDIA QUERIES*/
    background: url('/media/IMG_3143.JPG');
    background-size: cover;
    transform-origin: 0px 0px;   
    height:400px;
    max-width:600px;
    border-top: 0.2rem solid white;  
    border-right: 0.2rem solid white;  
}

/***Sponsored Riders  ***/

.rider-1 {                                     /* NEEDS MEDIA QUERIES*/
    background: url('/media/mximage.PNG');
    background-size: cover;
    transform-origin: 0px 0px;   
    height: 300px;;
    background-repeat:no-repeat;
    max-width:600px;
    border-top: 0.2rem solid white;  
    border-right: 0.2rem solid white;  
}

.rider-2 {                                     /* NEEDS MEDIA QUERIES*/
    background: url('/media/sponsored_katie.PNG');
    background-size: cover;
    transform-origin: 0px 0px;   
    height: 300px;;
    background-repeat:no-repeat;
    max-width:600px;
    border-top: 0.2rem solid white;  
    border-right: 0.2rem solid white;  
}

/**** footer ****/
.tws-footer {
    
    background-image: url('/media/footerimagebw_small.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/*** General ****/

.update-link {
    font-size:1rem;
    margin:0.2rem;
}
.update-link a {
    font-size:1rem;
    margin:0.2rem;
}

 /**RESPONSIVE CHANGES -  *****/

/*********** For medium screens sizes less than 950px but bigger than 800px otherwise media query below wil kick in  *********/

@media screen and (max-width: 480px){

    /***Home Page ****/
.main-hero {                                                /* NEEDS MEDIA QUERIES*/
       
    max-width:1249px;
    height:234px;    
    background-image: url('/media/main_hero.png');
    background-size: contain;
    background-repeat: no-repeat;        
   
}
.main-hero-text-overlay {    
    position: relative;
    box-sizing: content-box;
    border-radius: 0%;    
    width: 200px;
    
}

.main-hero-text-overlay h1 {
    font-size:20px;
    letter-spacing: -1px;

}    
.main-hero-text-overlay-tagline {
    visibility:hidden;
    background-color:black;
    position: relative;
    box-sizing: content-box;
    border-radius: 4%;
    left: 50px;
    top: 150px;    
}
.main-hero-text-overlay-tagline p {
    padding: 12px;
    color:white !important;
}
.btn-online-shop {
    position:relative;
    top:-100px;
}
.sub-hero {                                     
    height:250px;
    max-width:1249px;    
    background: url('/media/mobileimage_ourstory_small.png');
    background-repeat: no-repeat;
    background-size:cover;
    transform-origin: 0px 0px;  
    border-right: 0.2rem solid white;  
    
}

}

@media screen and (max-width: 764px){

}
