{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="container">
<hr>  
<h2>Shopping Bag</h2>
<hr>
  {% if shoppingbag_items %}              
      <table class="table shoppingbag_contents">  
        <thead>
          <tr>
            <th>Product</th>
            <th>Description</th>
            <th>Quantity</th>            
            <th>each</th>           
          </tr>
        </thead>
        <tbody class="table-group-divider">
        
          {% for item in shoppingbag_items %}  
          <tr>            
            <td>{{item.product.name}}</td>
            <td>{{item.product.description}}</td>
            <td>
                <!--Quantity selector -->
                <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                  {% csrf_token %}
                  <div class="form-group">
                      <div class="input-group">
                          <!-- decrease button-->                          
                          <div class="input-group-prepend">
                              <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                  data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                  <span>
                                      <i class="fas fa-square-minus fa-sm"></i>
                                  </span>
                              </button>
                          </div>
                          <!-- quantity -->
                          <input class="form-control form-control-sm qty_input" type="number"
                              name="quantity" value="{{ item.quantity }}" min="1" max="99"
                              data-item_id="{{ item.item_id }}"
                              id="id_qty_{{ item.item_id }}">
                          <!--increase button-->
                          <div class="input-group-append">
                              <button class="increment-qty btn btn-sm btn-black rounded-0"
                                  data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                  <span>
                                      <i class="fa-solid fa-square-plus fa-sm"></i>
                                  </span>
                              </button>
                          </div>                            
                      </div>
                  </div>
                  <!--END Quantity selector -->
              </form>                
              <a class="update-link text-info"><small>Update</small></a><a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
            </td> 
            <td>£{{item.product.price}}</td>
          </tr>
          {% endfor %}
         
          <!--- Discount/Voucher Code-->                                    
         {% if code %}
         <tr class="subtotal">
           <td>Subtotal</td>
           <td colspan="2"></td>
           <td class="num">£{{ total|floatformat:2 }}</td>
         </tr>
         <tr>
           <td>
             "{{ code }}" applied"
             ({{ amountpercentage }}% off)
           </td>
           <td colspan="2"></td>
           <td class="num neg">
             - £{{ savings|floatformat:2 }}                       
           </td>
          </tr>
           <td>Total</td>
         <td colspan="2"> </td>
         <td class="num">£{{ discountedtotalcontext|floatformat:2 }}</td> 
        
       
       {% else %}
       <tr class="total">
         <td>Total</td>
         <td colspan="2"> </td>
         <td class="num">
           £{{ total|floatformat:2 }}
         </td> 
         {% endif %}  
        </tbody>
      </table>

      <p>Have a Discount Code ?</p>
      <form action= "{% url 'apply_voucher'%}" method="post">                   
        {{ apply_coupon_form }}
        <input type="submit" value="Apply">
        {% csrf_token %}
      </form>
      <br>
      <a href="{% url 'checkout' %}" class="btn btn-dark rounded-0 btn-lg">
        <span class="text-uppercase">Secure Checkout</span>
        <span class="icon">
            <i class="fas fa-lock"></i>
        </span>
    </a>
  {% else %}
  <h3>shopping bag is empty</h3>
  {% endif %}    
  {% endblock %}
  {% block postloadjs %}
  {{ block.super }}
  <script type="text/javascript">
    
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');                          
        form.submit();                                                                   
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];               
        var url = `/shoppingbag/remove/${itemId}/`;
        var size = $(this).data('product_size');
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};
                
        $.post(url, data)
         .done(function() {
             location.reload();
        });
    })
</script>    
  {% endblock %}