{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="container product-list-wrapper">
<hr>
<h1>Because shredding on your own just isn't as fun.</h1>
<hr>
<div class="row row-cols-2 row-cols-md-4 g-4">
  {% for product in products %}       
  <div class="col">
    <a href="{% url 'product_detail' product.id %}">
    <div class="card">
      <img class="card-img-top" alt="..." src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"> 
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">Rating:{{ product.customer_rating }}</p>
          <p class="card-text-price">£{{ product.price }}</p>
          <!--<p class="card-text-more-info"><a href="{% url 'product_detail' product.id %}">more info - Product Details</a></p> -->
          <p class="card-text-more-info">>more info - Product Details</p>
        </a>
      </div>
    </div> 
  </div>          
         {% endfor %}
  </div>
</div>

  {% endblock %}
